<div class="flex flex-column p-2">
  <h3>Buscador</h3>
  <mat-form-field color="accent">
    <mat-label>Buscador de Gatos</mat-label>
    <input type="text" matInput [formControl]="searchInput" (input)="searchBreed()" [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
      <mat-option *ngFor="let breed of breeds" [value]="breed">
        {{ breed.name }}
      </mat-option>

      <mat-option *ngIf="breeds.length === 0 && searchInput.value && searchInput.value.length > 0" value="">
        No se encontró nada con el término {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="selectedBreed">
    <div class="col-12 sm:col-4 md:col-3 xl:col-2">
      <breeds-breed-card [breed]="selectedBreed"></breeds-breed-card>
    </div>
  </div>

</div>