<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>

</ng-template>

<div *ngFor="let breed of breeds">
  <div *ngIf="breed; else divLoading" class="grid p-2">
    <mat-card class="col-12 sm:col-6">
      <mat-card-header>
        <mat-card-title>
          {{ breed.name }}
        </mat-card-title>
        <mat-card-subtitle>
          ({{ breed.origin }})
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card>
        <img class="image-size" [src]="images[currentImageIndex] || 'assets/img/breed_default.png'"
          alt="Image description">
        <mat-card-actions>
          <button color="accent" mat-button (click)="previousImage()">Anterior</button>
          <button color="accent" mat-button (click)="nextImage()">Siguiente</button>
        </mat-card-actions>
      </mat-card>
    </mat-card>
    <mat-card class="col-12 sm:col-6">

      <mat-card-header>
        <mat-card-title>Información</mat-card-title>
        <mat-card-subtitle>{{ breed.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-button color="warn" (click)="goBack()">
          Regresar
        </button>

        <a mat-button color="warn" [href]="breed.wikipedia_url" target="_blank">
          WIKIPEDIA
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>